* {
  padding: 0;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(208, 172, 172);
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 5vh;
  background-color: rgb(210, 181, 181);
}

#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
