body {
  background-color: #000000;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}
nav {
  background-color: rgb(1, 65, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0 20px;
}
nav img {
  height: 80%;
  border-radius: 50%;
}
a {
  text-decoration: none;
  color: blue;
  margin: 0 10px;
}
main {
  min-height: 70vh;
}

footer {
  height: 20vh;
  background-color: rgb(70, 4, 70);
}
#products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.product-card {
  border: 2px solid white;
  width: 25%;
  margin: 10px 20px;
}
.product-card img {
  width: 60%;
}
.active {
  color: yellow;
  text-shadow: 10px 10px 10px black;
}
.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  width: 50%;
  margin-top: 100px;
  padding: 10px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  width: 50%;
  margin: 5px;
}
