body {
  background-color: black;
  color: wheat;
  text-align: center;
  margin: 0;
  padding: 0;
}

.product-card {
  border: 1px solid white;
  margin: 5px;
  width: 30%;
}
.product-card img {
  width: 80%;
}
#products-container {
  display: flex;
  flex-wrap: wrap;
}
nav {
  background-color: rgb(5, 42, 5);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
a {
  color: rgb(245, 3, 168);
  text-decoration: none;
}
.active {
  color: rgb(233, 233, 0);
  font-size: 1.3rem;
}

form {
  background-color: rgb(25, 83, 83);
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 5px;
}
