body {
  background-color: rgb(7, 89, 89);
}
#pets-container {
  background-color: blueviolet;
}
.pet-card {
  background-color: rgb(174, 170, 170);
  color: rgb(5, 208, 49);
  box-shadow: 5px 5px 10px black;
}
.pet-card img {
  height: 10vh;
}

.liked {
  background-color: rgb(212, 103, 103);
}
