* {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5vh;
}

.navbar button {
  background: none;
  border: none;
}

.dark {
  background-color: rgb(52, 50, 50);
  color: rgb(225, 225, 225);
}

.light {
  background-color: rgb(216, 215, 215);
  color: rgb(33, 33, 33);
}

.content {
  min-height: 99vh;
}

img {
  width: 25vw;
  height: 15vh;
  object-fit: cover;
}

.car-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}

.car-item {
  display: flex;
  flex-direction: column;
}
